@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  background: center center url(https://zupimages.net/up/23/08/cb1c.png)#2B2D2F;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  user-select: none;
  color: #141c3a;
  margin: 0;
}

/* ----------------- */
/*      HEADER       */
/* ----------------- */

header {
  color: #f43f63;
  text-shadow: 0.15rem 0.15rem 0.15rem #b92c49;
  letter-spacing: 2px;
  margin-bottom: 40px;
  padding-top: 1px;
  height: 110px;
}

#header-items {
  align-items: center;
  margin: 0 auto;
  display: flex;
  width: 250px;
  gap: 20px;
}

img.logo {
  max-width: 40px;
}

h1.title {
  font-size: 45px;
}

/* ----------------- */
/*       INPUT       */
/* ----------------- */

input {
  box-shadow: 5px 5px 4px #161718, -5px -5px 4px #404346;
  margin-bottom: 50px;
  border-radius: 10px;
  background: linear-gradient(145deg, rgba(115,115,115,0.15) 15%, #2b2d2f 80%);
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 35px;
  height: 50px;
  width: 20%;
}

/* ----------------- */
/*       CARD        */
/* ----------------- */

#card {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  box-shadow: 5px 5px 4px #161718, -5px -5px 4px #404346;
  background: linear-gradient(145deg, rgba(115,115,115,0.15) 15%, #2b2d2f 80%);
  border-radius: 15px;
  padding-bottom: 5px;
  user-select: none;
  color: whitesmoke;
  font-size: 100%;
  padding-left: 3%;
  padding-top: 1%;
  margin: auto;
  width: 700px;
}

#card h2 {
  cursor: pointer;
}

a#openinmaps {
  text-decoration: none;
  color: rgb(239, 136, 136);
}

/* ----------------- */
/*      FOOTER       */
/* ----------------- */

footer {
  text-align: center;
  color: whitesmoke;
  font-size: 30px;
}

/* ----------------- */
/*     RESPONSIVE    */
/* ----------------- */

@media (max-width: 1000px) {
  input {
    border-radius: 7px;
    font-size: 20px;
    width: 200px;
    height: 30px;
  }

  h2 {
    color: whitesmoke;
  }

  div#card {
    border-radius: 0px;
    font-size: 10px;
    width: 100%;
  }
}

/* ---------- */
/*    ANIM    */
/* ---------- */

h2:hover {
  animation: hover-element 0.5s;
  padding-left: 3px;
  color: rgb(239, 136, 136);
}

h6:hover {
  letter-spacing: 1px;
}

input:focus {
  outline: none;
}

@keyframes hover-element {
  from {
    color: white;
    padding-left: 0px;
  }
  to {
    color: rgb(239, 136, 136);
    padding-left: 3px;
  }
}

 
