@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
  background: center center url(https://zupimages.net/up/23/08/cb1c.png)gray;
  font-family: 'Rubik', sans-serif;
  user-select: none;
  color: #141c3a;
  margin: 0;
}

/* ----------------- */
/*      HEADER       */
/* ----------------- */

header {
  background: linear-gradient(to right, rgb(146, 226, 244), rgb(51, 139, 147)); 
  margin-bottom: 40px;
  padding-top: 1px;
  height: 110px;
}

#header-items {
  align-items: center;
  margin: 0 auto;
  display: flex;
  width: 250px;
  gap: 20px;
}

img.logo {
  max-width: 40px;
}

h1.title {
  font-size: 45px;
}

/* ----------------- */
/*       INPUT       */
/* ----------------- */

input {
  box-shadow: 10px 10px 10px rgb(48, 48, 48);
  margin-bottom: 50px;
  border-radius: 10px;
  text-align: center;
  font-size: 35px;
  height: 50px;
  width: 20%;
}

/* ----------------- */
/*       CARD        */
/* ----------------- */

#card {
  box-shadow: 20px 20px 20px rgb(48, 48, 48);
  background: linear-gradient(to right, rgb(146, 226, 244), rgb(51, 139, 147)); 

  border-radius: 15px;
  padding-bottom: 5px;
  user-select: text;
  color: #39446b;
  font-size: 100%;
  padding-left: 3%;
  padding-top: 1%;
  margin: auto;
  width: 700px;
}

#card h2 {
  cursor: pointer;
}

a#openinmaps {
  text-decoration: none;
  color: #0638ed;
}

/* ----------------- */
/*      FOOTER       */
/* ----------------- */

footer {
  text-align: center;
  color: beige;
  font-size: 30px;
}

/* ----------------- */
/*     RESPONSIVE    */
/* ----------------- */

@media (max-width: 1000px) {
  input {
    box-shadow: none;
    border-radius: 7px;
    font-size: 20px;
    width: 200px;
    height: 30px;
  }

  h2 {
    color: #141c3a;
  }

  div#card {
    border-radius: 0px;
    box-shadow: none;
    font-size: 10px;
    width: 100%;
  }
}

/* ---------- */
/*    ANIM    */
/* ---------- */

h2:hover {
  color: #141c3a;
  padding-left: 3px;
}

input:focus {
  outline: none;
}